@import '../vendors/normalize.scss';
@import '../utils/variables.scss';
@import '../components/button.scss';
@import '../components/card.scss';
@import '../layouts/footer.scss';
@import'../layouts/header.scss';
@import '../utils/animations.scss';


html, body {
    width:100%;

    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

    width: 100%;
    max-width: 100%;
}
